<!doctype html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Products</title>
</head>
<body>
<style>html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #ccc;
}

.nav-link:hover {
    transition: all 0.4s;
}

.nav-link-collapse:after {
    float: right;
    content: '\f067';
    font-family: 'FontAwesome';
}

.nav-link-show:after {
    float: right;
    content: '\f068';
    font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
    padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
    padding-left: 20px;
}

@media (min-width: 992px) {
    .sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100vh - 3.5rem);
        margin-top: 3.5rem;
        background: #343a40;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    .navbar-expand-lg .sidenav {
        flex-direction: column;
    }

    .content-wrapper {
        margin-left: 230px;
    }

    .footer {
        width: calc(100% - 230px);
        margin-left: 230px;
    }
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">FINANCE.MD : Product list</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/finance">Sales</a>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link nav-link-collapse"
                        href="/clients"
                        id="hasSubItems"
                        data-toggle="collapse"
                        data-target="#collapseSubItems2"
                        aria-controls="collapseSubItems2"
                        aria-expanded="false"
                >Clients</a>
                <ul class="nav-second-level collapse" id="collapseSubItems2" data-parent="#navAccordion">
                    <li class="nav-item">
                        <a class="nav-link" href="/clients">
                            <span class="nav-link-text">Show clients</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/clients/newclient">
                            <span class="nav-link-text">New Client</span>
                        </a>

                </ul>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link nav-link-collapse"
                        href="/categories"
                        id="hasSubItems"
                        data-toggle="collapse"
                        data-target="#collapseSubItems3"
                        aria-controls="collapseSubItems3"
                        aria-expanded="false"
                >Categories</a>
                <ul class="nav-second-level collapse" id="collapseSubItems3" data-parent="#navAccordion">
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">
                            <span class="nav-link-text">Show Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories/newcategory">
                            <span class="nav-link-text">Create Category</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item">
                <a
                        class="nav-link nav-link-collapse"
                        href="/products"
                        id="hasSubItems"
                        data-toggle="collapse"
                        data-target="#collapseSubItems4"
                        aria-controls="collapseSubItems4"
                        aria-expanded="false"
                >Products</a>
                <ul class="nav-second-level collapse" id="collapseSubItems4" data-parent="#navAccordion">

                    <li class="nav-item">
                        <a class="nav-link" href="/products">
                            <span class="nav-link-text">Show Products</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/products/newproduct">
                            <span class="nav-link-text">New Product</span>
                        </a>
                    </li>


                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
        <form th:action="@{/finance/search}" method="get" class="form-inline ml-auto mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" name="keyword" th:value="${keyword}"  placeholder="Search"  aria-label="Search" >
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
        </form>


    </div>
</nav>

<main class="content-wrapper">
    <div class="container-fluid">




        <center>
            <form th:method="POST" th:action="@{/items}" th:object="${item}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                <label for="Title">Title: </label>
                <input type="text" th:field="*{title}" id="Title"/>
                <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>

                <br/> <br/>

                <label for="Price">Price Name: </label>
                <input type="text" th:field="*{price}" id="Price"/>
                <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>

                <br/> <br/>

                <label for="Description">Description Name: </label>
                <input type="text" th:field="*{description}" id="Description"/>
                <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>


                <input type="submit" value="Create!"/>
            </form>
        </center>


    </div>
</main>

<footer class="footer">
    <div class="container">
        <div class="text-center">
            <span>Coded by <a href="/">FINANCE.MD</a>, 2023</span>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $('.nav-link-collapse').on('click', function() {
            $('.nav-link-collapse').not(this).removeClass('nav-link-show');
            $(this).toggleClass('nav-link-show');
        });
    });

</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>